<a href="https://colab.research.google.com/github/jakphunn/DADS6003/blob/main/6610412008_ML_practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

import pickle
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
hp = pd.read_csv('https://raw.githubusercontent.com/jakphunn/DADS6003/main/Housing.csv')
hp.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
#survey
print(hp.info())
print('')
print(hp.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None

price               219
area                284
bedrooms              6
bathrooms             4
stories               4
mainroad              2
guestroom             2
basement              2
hotwaterheating       2
airconditioning       2
parking               4
prefarea              2
furnishingstatus      3
dtype: int64

In [ ]:
#data preparation

#taking out outliers in price
pq1 = hp.price.quantile(0.25)
pq3 = hp.price.quantile(0.75)
piqr = pq3 - pq1
hp = hp[(hp.price >= pq1 - (1.5 * piqr)) & (hp.price <= pq3 + (1.5 * piqr))]

#taking out outliers in area
aq1 = hp.area.quantile(0.25)
aq3 = hp.area.quantile(0.75)
aiqr = aq3 - aq1
hp = hp[(hp.area >= aq1 - (1.5 * aiqr)) & (hp.area <= aq3 + (1.5 * aiqr))]

x = hp.drop(columns=["price"])
y = hp[["price"]]

m1 = {"yes": 1, "no": 0}
x["mainroad"] = x["mainroad"].map(m1)
x["guestroom"] = x["guestroom"].map(m1)
x["basement"] = x["basement"].map(m1)
x["hotwaterheating"] = x["hotwaterheating"].map(m1)
x["airconditioning"] = x["airconditioning"].map(m1)
x["prefarea"] = x["prefarea"].map(m1)

m2 = {"furnished": 1 ,"semi-furnished": 0.5,"unfurnished":0}
x["furnishingstatus"] = x["furnishingstatus"].map(m2)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

model = LinearRegression()

# train the model
model.fit(x_train, y_train)

# make predictions
y_pred = model.predict(x_test)

# evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 977664860283.9722
Root Mean Squared Error: 988769.3665784616
R^2 Score: 0.6667603355640939

In [ ]:
pickle.dump(model, open('ml_6610412008.sav','wb'))

In [ ]:
from google.colab import files
files.download('ml_6610412008.sav')